body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: rgb(128, 130, 130);
  margin: 0;
  padding: 0;
}

/* Contenedor principal del post */
.post {
  margin: 40px auto;
  border-radius: 5px;
  background-color: white;
  width: 800px;
  min-height: 550px;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Encabezado */
.encabezado {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-html {
  font-size: 1.7em;
  margin-left: 8px;
}

.text {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 1em;
}

.punto {
  font-size: 1.5em;
  margin-right: 15px;
}

/* Imagen principal */
.post img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Iconos debajo de la imagen */
.iconos {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
}

.iconos span {
  font-size: 1.5em;
  cursor: pointer;
}

.iconos .save {
  margin-left: auto;
}

/* Cuerpo del post */
.body {
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  line-height: 1.5;
}

.body p {
  line-height: 1.5;
  word-wrap: break-word;
}
